.container{
    margin-top: 30px;
}
.topside{
    overflow: hidden;
}
.navigation{
    width: 400px;
    float: right;
    font-size: 18px;
    font-weight: 500;
}
.navbar{
    width: 56%;
    float: right;
}
.logo{
    float: left;
    }
.logo img{
    width: 70%;
}
.nav-link {
    margin-left: 20px;
}
 
.BuyNowButton{
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
    color: blanchedalmond;
}
.carousel-indicators li{
    background-color: #FFBB24;
}

